# Java compiled files
*.class
bin/

# Eclipse metadata (The junk you see in your list)
.metadata/
.settings/
.project
.classpath
.factorypath

# Data and Logs
src/data/exports/
*.log
EBWebView/

# OS junk
Thumbs.db
.DS_Store
